<div>
    <h2>Sign in</h2>
    <form
    [formGroup]="Form"
    (ngSubmit)="OnSubmit()">
        <label for="email">Email:</label>
        <input
            formControlName = "email"
            type="text" id="email" name="email">

        <label for="password">Password:</label>
        <input
            formControlName = "password"
            type="password" id="password" name="password">

        <button type="submit">Sign in</button>
        <p>Don't have an account? <a href="/signUp">Sign up</a></p>
    </form>
</div>
