.signIn-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 5px 20px;
    border: 1px solid var(--third-color);
    border-radius: 10px;
    background-color: var(--third-light-color);
}

.signIn-container h2 {
    text-align: center;
}

.signIn-container form {
    display: flex;
    flex-direction: column;
}

.signIn-container label {
    margin: 0 0 0 0;
}

.signIn-container input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--third-color);
    border-radius: 5px;
}

.signIn-container button {
    padding: 10px;
    background-color: var(--main-color);
    color: var(--second-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.signIn-container a{
    color: var(--main-color);
    text-decoration: underline;
}

.signIn-container p{
    text-align: center;
}
