<div class="container">
  <h2>Edit blog</h2>
  <form [formGroup]="Form" (ngSubmit)="OnSubmit()">

    <div class="form-group">
      <label for="username">Username:</label>
      <input formControlName="username" type="text" id="username" name="username" class="form-control">
    </div>

    <div class="form-group">
      <label for="bio">Bio:</label>
      <input formControlName="bio" type="text" id="bio" name="bio" class="form-control">
    </div>

    <div class="form-group">
      <label for="imageAttachmentId">Image attachment id:</label>
      <input formControlName="imageAttachmentId" type="text" id="imageAttachmentId" name="imageAttachmentId" class="form-control">
    </div>

    <div class="form-group">
      <label for="dateOfBirth">Date of birth:</label>
      <input formControlName="dateOfBirth" type="date" id="dateOfBirth" name="dateOfBirth" class="form-control">
    </div>

    <button type="submit" class="btn">Submit</button>
  </form>
</div>
