<div class="container">
  <h2>Edit blog</h2>
  <form [formGroup]="Form" (ngSubmit)="OnSubmit()">

    <div class="form-group">
      <label for="username">Username:</label>
      <input formControlName="username" type="text" id="username" name="username"
             class="form-control">
    </div>

    <div class="form-group">
      <label for="bio">Bio:</label>
      <input formControlName="bio" type="text" id="bio" name="bio"
             class="form-control">
    </div>

    <div class="form-group">
      <label for="mainImage">Main image:</label>
      <input formControlName="mainImage" type="file" id="mainImage" name="mainImage"
             accept="image/*" class="form-control">
    </div>

    <div class="form-group">
      <label for="dateOfBirth">Date of birth:</label>
      <input formControlName="dateOfBirth" type="date" id="dateOfBirth" name="dateOfBirth"
             class="form-control">
    </div>

    <button type="submit" class="btn">Submit</button>
  </form>
</div>
