.reactions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}

.my-reaction{
  cursor: pointer;
  background-color: var(--primary-dark);
  border-radius: 50%;
}

p{
  min-width: 30px;
  min-height: 30px;
  cursor: default;
  text-align: center;
}
